@import "./utils/variables";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";
@import "./pages/menu";

/* ------------- to delete ------------------------ */
* {
    /*word-wrap: break-word;*/
    // border: 1px dashed black;
}
a {
    text-decoration: none;
    color: black;
}
.loader {
    position: fixed;
    // left: 50%;
    // top: 50%;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: $color-footer;
    opacity: .8;
}
.lds-ring {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $color-1;
    // border: 8px solid transparent;
    // background-image: linear-gradient(white, white), radial-gradient(circle at top left, $color-2, $color-1);
    // background-origin: border-box;
    // background-clip: content-box, border-box;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 1s;
    border-color: $color-1 transparent transparent transparent;
    // border-color: transparent white white white;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  
  
  }
.loader {
    animation: hideme 0s 3s;
    animation-fill-mode: forwards;
}
@keyframes hideme {
    to {
        visibility: hidden;
    }
}

// _header.scss
.header {
    // padding: 10px;
    height: 60px;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    &__logo {
        // 
        height: 50%;
        // border: 1px dashed black;
        text-align: center;
        img {
            width: 88%;
        }
        margin: 0;
        padding: 0;
        margin-top: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // position: absolute;
        // left: 50%;
    }
    &__back {
        // margin-right: auto;
        padding: 3px 20px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}

// _form.scss
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search {
    text-align: center;
    background-color: $color-form;
    padding: 10px;
    box-shadow: inset 0 5px 3px -3px darken($color-form,15%);
    
    // display: flex ;
    // flex-flow: column;
    // justify-content: baseline;
    // align-items: center;
    input {
        border: none;
        background-color: $color-form;
        color: #353535;
        font: 600 1rem 'Roboto';
        // text-align: center;
        &:focus {
            outline: none;
        }
        padding: 0.5em;
        &::placeholder {
            font: 600 1rem 'Roboto';
        }
    }
    button {
        // text-align: center;
        border: none;
        color: #353535;
        // margin-right: 10px;
        font-size: 1rem;
        margin-left: 2.5rem;
    }
}

// _homepage.scss
.intro {
    text-align: center;
    background-color: $color-bckgrd;
    padding: 2em 0 4em 0;
    &__byline {
        margin: 2.2em 2.1em;
        font-weight: 300;
    }
    &__nav {
        // border-radius: 50px;
        // padding: 12px 24px;
        // color: white;
        // background-image: linear-gradient(170deg, $color-2, $color-1);
        // filter: drop-shadow(0 5px 3px darken($color-bckgrd,10%));
        // // opacity??
        // &:hover {
        //     background-image: linear-gradient(170deg, lighten($color-2, 10%), lighten($color-1, 10%));
        //     filter: drop-shadow(0 5px 3px darken($color-bckgrd,20%));
        // }
        @include btn;
        font-weight: 400;
        padding: 16px 24px;
    }
}


.steps {
    padding: 3em 4vw 4em 4vw;
    &__heading {
        padding-bottom: 1.2rem;
    }
    &__steps {
        // border: 1px dashed black;
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        gap: 20px;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        @include media-query(large) {
            flex-flow: row;
            justify-content: space-around;
            padding-left: 0;
        }
    }
    &__links {
        max-width: 450px;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        background-color: $color-bckgrd;
        filter: drop-shadow(0 5px 3px darken($color-bckgrd,10%));
        position: relative;
        display: block;
        @include media-query(large) {
            text-align: center;
        }
        &:hover, &--active {
            background-color: $color-1-1;
            filter: drop-shadow(0 5px 3px darken($color-bckgrd,20%));
            i {
                color: $color-1;
            }
        }
    }
    i {
        color: #7e7e7e;
        // padding: 0 20px;
        width: 50px;
        padding-left: 10px;
    }
    span {
        background-color: $color-1;
        border-radius: 50%;
        // padding: 10px;
        width: 25px;
        height: 25px;
        color: white;
        // text-align: center;
        position: absolute;
        left: -15px;
        right: 0;
        top: 20px;
        @include media-query(large) {
            left: 45%;
            right: 0;
            top: -25%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.container {
    background-color: $color-bckgrd;
    // padding: 3em 2em;
    padding: 3em 4vw;
    h1 {
        padding-bottom: 1.2rem;
    }
}
.resto-grid {
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include media-query(medium) {
        flex-flow: row wrap;
    }
}

.resto-card {
    width: 100%;
    max-width: 450px;
    $self: &;
    // offset-x | offset-y | blur-radius | spread-radius | color 
    box-shadow: 0 8px 20px -4px darken($color-bckgrd,15%);
    border-radius: 15px;
    &:hover {
        box-shadow: 0 8px 20px -4px darken($color-bckgrd,25%);
        #{$self}__media {
            opacity: 0.9;
        }
    }
    // The standard practice for maintaining image aspect ratio is to wrap
    // the image with another element (div). The wrapping div controls
    // the image scaling. Then set width:100% and height:auto; on the img.
    // Likewise you can also set a max-width on the img so it doesn’t grow larger than it’s native width.
    &__media {
        width: 100%;
        // height: 208px;
        // height: 194px;
        position: relative;
    }
    &__image {
        display: block;
        width: 100%;
        height: auto;
        // aspect-ratio: attr(width)/attr(height);
        // aspect-ratio: 16 /9;
        aspect-ratio: 1 /0.52;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__media-content {
        background-color: $color-3;
        color: $color-3-1;
        border-radius: 3px;
        padding: 5px 25px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &__primary {
        width: 100%;
        // height: auto;
        // aspect-ratio: 1 /0.23;
        background-color: white;
        border-radius: 0 0 15px 15px;
        position: relative;
        // padding: 18px 16px;
        padding: 0.8rem;
        // padding: 5%;
        // font-size: 100%;
    }
    &__actions {
        // position: absolute;
        // bottom: 2rem;
        // right: 1rem;
    //     font-size:2em;
    }
    &__byline {
        font-weight: 300;
    }
}
.resto-card {
    position: relative;
    &__actions {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}
.ResHeartMove {
    border: none;
    background-color: white;
    position: relative;
    // Seems to have problems of icon cutting???
    // z-index: 10;
    font-size: 1.5rem;
    height: fit-content;
    &__bottom {
        opacity: 1;
        transition: opacity 1s;
        
    }
    &:focus, &:hover {
        & .ResHeartMove__bottom {
            opacity: 0;
        }
        & .ResHeartMove__top {
            opacity: 1;
        } 
    }
    &__top {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        // z-index: -1;
        transition: opacity 2s;
    }
    .fas {
        display: block;
        background: -webkit-linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// _footer.scss
.footer {
    // font-size: 0.8rem;
    background-color: #353535;
    // padding: 10px 0 20px 10px;
    padding: 1.5em 0 2em 1.5em;
    line-height: 1.5em;
    &__logo {
        // width: 5%;
    }
    * {
        color: white;
        list-style: none;
    }
    img {
        filter: invert(1);
        width: 120px;
        padding-bottom: 10px;
        // width: min(max(0.5rem, 2vw), 16px);
    }
    i {
        width: 25px;
    }
}

.intro__heading, .steps__heading, #container__heading {
    font-size: 1.5rem;
}


// , 
.intro__byline, .resto-card__byline, .resto-card__heading {
    font-size: 1.1rem;
}

// .search[placeholder], ,  * 
.intro__nav, .steps__links, .footer__nav {
    font-size: 1rem;
}

.resto-card__media-content {
    font-size: 0.9rem;
}

.steps span {
    font-size: 0.9rem;
    font-weight: 300;
}

.resto-card__byline {
    line-height: 1.5;
}