@import "./utils/variables";

@import "./base/base";
@import "./base/typography";

/* ------------- to delete ------------------------ */
* {
    /*word-wrap: break-word;*/
    border: 1px dashed black;
}
* > a {
    text-decoration: none;
    color: black;
}

// _header.scss
.header {
    text-align: center;
}

// _form.scss
.search {
    text-align: center;
    background-color: $color-form;
    padding: 10px;
    box-shadow: inset 0 5px 3px -3px darken($color-form,15%);
    & input {
        border: none;
        background-color: $color-form;
        color: #353535;
        &:focus {
            outline: none;
        }
    }
    & button {
        border: none;
        color: #353535;
        margin-right: 10px;
    }
}

// _homepage.scss
.intro {
    text-align: center;
    background-color: $color-bckgrd;
    padding: 10px;
    &__byline {
        margin: 5%;
    }
    &__nav {
        border-radius: 50px;
        padding: 12px 24px;
        color: white;
        background-image: linear-gradient(170deg, $color-2, $color-1);
        filter: drop-shadow(0 5px 3px darken($color-bckgrd,10%));
        // opacity??
        &:hover {
            background-image: linear-gradient(170deg, lighten($color-2, 10%), lighten($color-1, 10%));
            filter: drop-shadow(0 5px 3px darken($color-bckgrd,20%));
        }
    }
}


.steps i {
    background-color: #7e7e7e;
}
.steps a:hover {
    background-color: #f5edff;
}
.steps ol {
    display: flex;
}
.steps li {
    padding: 10px;
}



.resto-grid {
    display: flex;
}

.resto-prev {

}

// _footer.scss
.footer {
    background-color: #353535;
    & * {
        color: white;
    }
    & img {
        fill: white;
    }
    & i {
        width: 25px;
    }
}
