@import "./utils/variables";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";
@import "./pages/menu";

/* ------------- to delete ------------------------ */
* {
    /*word-wrap: break-word;*/
    // border: 1px dashed black;
}
a {
    text-decoration: none;
    color: black;
}





// _header.scss
.header {
    text-align: center;
}

// _form.scss
.search {
    text-align: center;
    background-color: $color-form;
    padding: 10px;
    box-shadow: inset 0 5px 3px -3px darken($color-form,15%);
    input {
        border: none;
        background-color: $color-form;
        color: #353535;
        &:focus {
            outline: none;
        }
    }
    button {
        border: none;
        color: #353535;
        margin-right: 10px;
    }
}

// _homepage.scss
.intro {
    text-align: center;
    background-color: $color-bckgrd;
    padding: 10px;
    &__byline {
        margin: 5%;
    }
    &__nav {
        border-radius: 50px;
        padding: 12px 24px;
        color: white;
        background-image: linear-gradient(170deg, $color-2, $color-1);
        filter: drop-shadow(0 5px 3px darken($color-bckgrd,10%));
        // opacity??
        &:hover {
            background-image: linear-gradient(170deg, lighten($color-2, 10%), lighten($color-1, 10%));
            filter: drop-shadow(0 5px 3px darken($color-bckgrd,20%));
        }
    }
}


.steps {
    &__steps {
        display: flex;
        flex-flow: column;
        gap: 20px;
        align-items: center;
        @include media-query(large) {
            flex-flow: row;
            justify-content: space-around;
        }
    }
    &__links {
        width: 90%;
        padding: 20px;
        border-radius: 20px;
        background-color: $color-bckgrd;
        filter: drop-shadow(0 5px 3px darken($color-bckgrd,10%));
        position: relative;
        display: block;
        @include media-query(large) {
            text-align: center;
        }
        &:hover, &--active {
            background-color: #f5edff;
            filter: drop-shadow(0 5px 3px darken($color-bckgrd,20%));
            i {
                color: $color-1;
            }
        }
    }
    i {
        color: #7e7e7e;
        // padding: 0 20px;
        width: 50px;
        padding-left: 10px;
    }
    span {
        background-color: $color-1;
        border-radius: 50%;
        // padding: 10px;
        width: 25px;
        height: 25px;
        color: white;
        // text-align: center;
        position: absolute;
        left: -15px;
        right: 0;
        top: 20px;
        @include media-query(large) {
            left: 45%;
            right: 0;
            top: -25%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.container {
    background-color: $color-bckgrd;
}
.resto-grid {
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include media-query(medium) {
        flex-flow: row wrap;
    }
}

// .resto-grid {
//     width: 90%;
//     max-width: 1000px;
//     margin: 0 auto;
//     display: grid;
//     // each column will take up a single fraction of those available
//     grid-template-columns: 1fr;
//     // row heights will be determined purely by the content
//     grid-template-rows: auto;
//     grid-gap: 20px;
//     border-color: red;
// }
// @media only screen and (min-width: 600px) {
//     .resto-grid {
//         grid-template-columns: 1fr 1fr;
//     }  
//   }
// @media only screen and (min-width: 850px) {
//     .resto-grid {
//         // grid-template-columns: 1fr 1fr 1fr 1fr;
//         grid-template-columns: repeat(4, 1fr);
//     }
// }

.resto-card {
    $self: &;
    // offset-x | offset-y | blur-radius | spread-radius | color 
    box-shadow: 0 8px 20px -4px darken($color-bckgrd,15%);
    border-radius: 15px;
    &:hover {
        box-shadow: 0 8px 20px -4px darken($color-bckgrd,25%);
        #{$self}__media {
            opacity: 0.9;
        }
    }
    &__media {
        width: 344px;
        height: 194px;
        position: relative;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__media-content {
        background-color: $color-3;
        color: $color-3-1;
        border-radius: 3px;
        padding: 5px 20px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &__primary {
        background-color: white;
        border-radius: 0 0 15px 15px;
        position: relative;
        padding: 18px 16px;
    }
    &__action--icon {
        border: none;
        background-color: white;
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        opacity: 1;
        transition: opacity 4s;
        &:hover {
            & .far {
                opacity: 0;
            }
            & .fas {
                opacity: 1;
            }
        }
    }
}
    .resHeartMove {
        height: 24px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .resHeartContain {
            right: 26px;
        }
        .resHeartTop{
            color: gray;
            z-index: 1;
            font-size:2em;
        }
    }



// _footer.scss
.footer {
    background-color: #353535;
    * {
        color: white;
    }
    img {
        filter: invert(1);
    }
    i {
        width: 25px;
    }
}
