.footer {
    // font-size: 0.8rem;
    background-color: $color-footer;
    padding: 1.5em 0 2em 1.5em;
    line-height: 1.5em;
    &__logo {
        // width: 5%;
    }
    * {
        color: $color-white;
        list-style: none;
    }
    img {
        filter: invert(1);
        width: 120px;
        padding-bottom: 10px;
        // width: min(max(0.5rem, 2vw), 16px);
    }
    i {
        width: 25px;
    }
}