// HEADER BACKGROUND IMAGE --------------------------------------------------------------
.background {
    position: relative;
    z-index: -1;
    img {
        height: 34vh;
        width: 100%;
        object-fit: cover;
    }
}


//MAIN CONTAINER SETTINGS ---------------------------------------------------------------
.menu {
    // width: 80%;
    background-color: $color-bckgrd;
    border-radius: 40px 40px 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    &__name {
        max-width: 500px;
        margin: auto;
        font-family: 'Shrikhand', cursive;
        font-size: 1.8em;
        // Negative margin to get the menu on top of the image.
        margin-top: -3rem;
        margin-bottom: 1.5rem;
        padding-top: 2rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__form {
        max-width: 500px;
        margin: auto;
        .btn {
            width: 45%;
            display: block;
            margin: 0 auto;
        }
    }
}


// MENU SETTINGS AND ANIMATIONS ---------------------------------------------------------
$num-dish: 3;
$anim-dur: 2000ms;
$anim-delay: calc($anim-dur/$num-dish);
.section {
    margin-bottom: 2.5rem;
    &__title {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1.5rem;
        padding-left: 0.5rem;
        font-weight: 300;
        &::after {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            width: 2rem;
            height: .25rem;
            background-color: $color-3;
            transform-origin: left;
            animation: section__accent 2000ms both;
        }
    }
    &__dish {
        animation: dish-appear $anim-dur both;
        @for $i from 1 through $num-dish {
            &--#{$i} {
                animation-delay: $anim-delay*$i;
            }
        }
    }
}

@keyframes section__accent {
    0% {
        transform: scaleX(0);
    }
}
@keyframes dish-appear {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}


// DISH SETTINGS AND ANIMATIONS ---------------------------------------------------------
.dish {
    background-color: $color-white;
    border-radius: 20px;
    margin-bottom: 15px;
    // @include shadow-box;
    box-shadow: 0 8px 20px -4px darken($color-bckgrd,15%);
    // max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    @include interaction-query (fine) {
        &:hover {
            box-shadow: 0 8px 20px -4px darken($color-bckgrd,25%);
            .dish__tick {
                // transform: translateX(-100%);
                i {
                    transform: rotate(0deg);
                }
            }
            .dish__name {
                width: (70%);
            }
            .dish__price {
                // transform: translateX(-100%);
            }
        }
    }
    // input[type="checkbox"] This selector is used to select elements with a specified attribute and value
    &__select {
        appearance: none;
        // Will control animations for mobile device.
        &:checked {
            ~ .dish__name {
                width: (70%);
            }
            ~ .dish__tick {
                // background-color: darken($color-3, 10%);
                i {
                    transform: rotate(0);
                }
            }
        }
    }
    &__name {
        padding: 10px;
        width: 85%;
        flex: none;
        transition: width 2s ease-out;
        /* Overflow text will be replaced by 3 dots */
        h3:hover, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            font-weight: 300;
        }
    }
    &__price {
        padding-bottom: 10px;
        text-align: center;
        align-self: flex-end;
        margin: 0 auto;
        width: 15%;
        flex: none;
        // transform-origin: left;
        // transform: translateX(0);
        // transition: transform 2s ease-out;
    }
    &__tick {
        background-color: $color-3;
        width: 15%;
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        // visibility: hidden;
        // transform-origin: left;
        // transform: translateX(0);
        // transition: transform 2s ease-out;
        i {
            color: $color-white;
            transform: rotate(-540deg);
            transition: transform 2s ease-out;
        }
    }
}
