$color-1: #9356dc;
$color-2: #ff79da;
$color-3: #99e2d0;
$color-bckgrd: #f6f6f6;
$color-footer: #353535;
$color-form: #eaeaea;
$color-1-1: #f5edff;
$color-3-1: #028867;

$breakpoints: (
    medium: 600px,
    large: 850px
);

